In [2]:
# day 2 python - variables
# printing the values stored in the variables

#Variables store data in a computer memory. Mnemonic variables are recommended to use in many programming languages. A mnemonic variable is a variable name that can be easily remembered and associated. A variable refers to a memory address in which data is stored. Number at the beginning, special character, hyphen are not allowed when naming a variable. A variable can have a short name (like x, y, z), but a more descriptive name (firstname, lastname, age, country) is highly recommended.

#Python Variable Name Rules

#A variable name must start with a letter or the underscore character
#A variable name cannot start with a number
#A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
#Variable names are case-sensitive (firstname, Firstname, FirstName and FIRSTNAME) are different variables) 

# variable in python
first_name = 'Asabeneh'
last_name = 'Yetayeh'
country = 'USA'
city = 'Greenville'
age = 150
is_married = True
skills = ['HTML', 'CSS', 'JS', 'PYTHON']
person_info = {
    'firstname': 'Asabeneh',
    'lastname': 'Yetayeh',
    'country': 'USA',
    'city': 'Greenville'
}

print('Firstname:', first_name)
print('First name length:', len(first_name))
print('Last name:', len(last_name))
print('Last name length:', len(last_name))
print('Country:', country)
print('City:', city)
print('Age:', age)
print('Married: ', is_married)
print('Skills:', skills)
print('Person information:', person_info)

Firstname: Asabeneh
First name length: 8
Last name: 7
Last name length: 7
Country: USA
City: Greenville
Age: 150
Married:  True
Skills: ['HTML', 'CSS', 'JS', 'PYTHON']
Person information: {'firstname': 'Asabeneh', 'lastname': 'Yetayeh', 'country': 'USA', 'city': 'Greenville'}

In [4]:
# declaring Multiple Variable in a Line - Multiple variable can also be declared in one line:
#first_name, last_name, country, age, is_married = 'Asabeneh', 'Yetayeh', 'USA'
print(first_name, last_name, country, age, is_married)
print('First name:', first_name)
print('Last name:', last_name)
print('Country:', country)
print('Age:', age)
print('Married:', is_married)

Asabeneh Yetayeh USA 150 True
First name: Asabeneh
Last name: Yetayeh
Country: USA
Age: 150
Married: True

In [5]:
# Getting user input using the input() built-in function. Let us assign the data we get from a user into first_name and age variables. Example:
first_name = input('What is your name: ')
age = input('How old are you? ')

print(first_name)
print(age)

What is your name: Nigar
How old are you? 25
Nigar
25

In [6]:
# Data Type
# There are several data types in Python. To identify the data type we use the type built-in function. 
#I would like to ask you to focus on understanding different data types very well. 
#When it comes to programming, it is all about data types. I introduced data types at the very beginning and it comes again, because every topic is related to data types.
#We will cover data types in more detail in their respective sections

# Different python data types
# Let's declare variables with various data types

first_name = 'Asabeneh'     # str
last_name = 'Yetayeh'       # str
country = 'Finland'         # str
city= 'Helsinki'            # str
age = 250                   # int, it is not my real age, don't worry about it

# Printing out types
print(type('Asabeneh'))     # str
print(type(first_name))     # str
print(type(10))             # int
print(type(3.14))           # float
print(type(1 + 1j))         # complex
print(type(True))           # bool
print(type([1, 2, 3, 4]))     # list
print(type({'name':'Asabeneh','age':250, 'is_married':250}))    # dict
print(type((1,2)))                                              # tuple
print(type(zip([1,2],[3,4])))                                   # set

<class 'str'>
<class 'str'>
<class 'int'>
<class 'float'>
<class 'complex'>
<class 'bool'>
<class 'list'>
<class 'dict'>
<class 'tuple'>
<class 'zip'>

In [9]:
# int to float
num_int = 10
print('num_int:', num_int)
num_float = float(num_int)
print('num_float:', num_float)

# float to int
gravity = 9.81
print('gravity:', gravity)
gravity_int = int(gravity)
print('gravity_int:', gravity_int)

# int to str
num_int = 10
print('num_int:', num_int)
num_str = str(num_int)
print('num_str:', num_str)

# str to int or float
num_str = '10.6'
print('num_str:', num_str)
num_int_from_str = int(float(num_str))  # Convert string to float first, then to int
print('num_int_from_str:', num_int_from_str)
num_float_from_str = float(num_str)
print('num_float_from_str:', num_float_from_str)

# str to list
first_name = 'Nigar'
print('first_name:', first_name)
first_name_to_list = list(first_name)
print('first_name_to_list:', first_name_to_list)

num_int: 10
num_float: 10.0
gravity: 9.81
gravity_int: 9
num_int: 10
num_str: 10
num_str: 10.6
num_int_from_str: 10
num_float_from_str: 10.6
first_name: Nigar
first_name_to_list: ['N', 'i', 'g', 'a', 'r']

In [ ]:
# Numbers
Number data types in Python:

Integers: Integer(negative, zero and positive) numbers Example: ... -3, -2, -1, 0, 1, 2, 3 ...

Floating Point Numbers(Decimal numbers) Example: ... -3.5, -2.25, -1.0, 0.0, 1.1, 2.2, 3.5 ...

Complex Numbers Example: 1 + j, 2 + 4j, 1 - 1j

In [12]:
# Exercises
# 2nd question - Write a python comment saying 'Day 2: 30 Days of python programming'

# 'Day 2: 30 Days of Python Programming'

# Declare a first name variable and assign a value to it
first_name = 'Nigar'

#Declare a last name variable and assign a value to it
last_name = 'Sultana'

#Declare a full name variable and assign a value to it
full_name = 'Nigar Sultana'

#Declare a country variable and assign a value to it
country = 'USA'

#Declare a city variable and assign a value to it
city = 'Greenville'

#Declare an age variable and assign a value to it
age = 25

#Declare a year variable and assign a value to it
year = 2023

#Declare a variable is_married and assign a value to it
is_married = False

#Declare a variable is_true and assign a value to it
is_true = 'Yes'


#Declare a variable is_light_on and assign a value to it
is_light_on = 'No'


#Declare multiple variable on one line
first_name, last_name, age, city = 'Nigar', 'Sultana', 25, 'Greenville'
print('First_name:', first_name)
print('Last_name:', last_name)
print('Age:',age)
print('City:',city)

First_name: Nigar
Last_name: Sultana
Age: 25
City: Greenville

In [15]:
# Exercises: Level 2

# Check the data type of all your variables using type() built-in function
var1 = 9
print('Type of var1:', type(var1))

var2 = 'nigar'
print('Type of var2:', type(var2))

var3 = 0.98
print('Type of var3:', type(var3))

var4 = 'Nigar'
print('Type of var4:', type(var4))

var5 = [1, 3]
print('Type of var5:', type(var5))

Type of var1: <class 'int'>
Type of var2: <class 'str'>
Type of var3: <class 'float'>
Type of var4: <class 'str'>
Type of var5: <class 'list'>

In [16]:
#Using the len() built-in function, find the length of your first name
first_name = 'Nigar'
print(len(first_name))

5

In [20]:
# Compare the length of your first name and your last name
first_name = 'Nigar'
last_name = ' Sultana'
if len(first_name)== len(last_name):
 print('length of first_name and last_name is equal')   
else:
  print('length of first_name and last_name is different')

length of first_name and last_name is different

In [32]:
# Declare 5 as num_one and 4 as num_two
# 1. Add num_one and num_two and assign the value to a variable total
num_one = 5
num_two = 4
total = num_one + num_two
print(total)

# Subtract num_two from num_one and assign the value to a variable diff
num_one = 5
num_two = 4
diff = num_one - num_two
print(diff)

#Multiply num_two and num_one and assign the value to a variable product
num_one = 5
num_two = 4
product = num_one * num_two
print(product)

#Divide num_one by num_two and assign the value to a variable division
num_one = 5
num_two = 4
division = num_one / num_two
print(division)

#Use modulus division to find num_two divided by num_one and assign the value to a variable remainder
num_one = 5
num_two = 4
remainder = num_one % num_two
print(remainder)

#Calculate num_one to the power of num_two and assign the value to a variable exp
num_one = 5
num_two = 4
exp = num_one ** num_two
print(exp)

#Find floor division of num_one by num_two and assign the value to a variable floor_division
num_one = 5
num_two = 4
floor_division = num_one // num_two
print(floor_division)

9
1
20
1.25
1
625
1

In [35]:
# The radius of a circle is 30 meters.
# Calculate the area of a circle and assign the value to a variable name of area_of_circle
import math

radius = 30
area_of_circle = math.pi * (radius ** 2) # pi*r^2
print(area_of_circle)

2827.4333882308138

In [36]:
#Calculate the circumference of a circle and assign the value to a variable name of circum_of_circle
import math

radius = 30
circum_of_circle = 2 * math.pi * radius
print(circum_of_circle)

188.49555921538757

In [37]:
#Take radius as user input and calculate the area.
import math

# Take the radius as user input
radius = float(input("Enter the radius of the circle: "))

# Calculate the area of the circle
area_of_circle = math.pi * (radius ** 2)

# Print the calculated area
print("The area of the circle with radius", radius, "is:", area_of_circle)

Enter the radius of the circle: 30
The area of the circle with radius 30.0 is: 2827.4333882308138

In [38]:
# Use the built-in input function to get first name, last name, country and age from a user and store the value to their corresponding variable names
# Get user input for first name
first_name = input("Enter your first name: ")

# Get user input for last name
last_name = input("Enter your last name: ")

# Get user input for country
country = input("Enter your country: ")

# Get user input for age (as an integer)
age = int(input("Enter your age: "))

# Print the values entered by the user
print("First Name:", first_name)
print("Last Name:", last_name)
print("Country:", country)
print("Age:", age)

Enter your first name: nigar
Enter your last name: sultana
Enter your country: USA
Enter your age: 25
First Name: nigar
Last Name: sultana
Country: USA
Age: 25