# Day 7 - Sets

# Sets
Set is a collection of items. Let me take you back to your elementary or high school Mathematics lesson. The Mathematics definition of a set can be applied also in Python. Set is a collection of unordered and un-indexed distinct elements. In Python set is used to store unique items, and it is possible to find the union, intersection, difference, symmetric difference, subset, super set and disjoint set among sets.

# Creating a Set
We use the set() built-in function.

In [1]:
# Creating an empty set
# Syntax
st = set()

In [2]:
# Creating a sey with initial items
# Syntax
st = {'item1', 'item2', 'item3', 'item4'}

In [4]:
# Example
# Syntax
fruits = {'banana', 'orange', 'mango', 'lemon'}
print(fruits)

{'orange', 'mango', 'banana', 'lemon'}

In [5]:
# Gettting Set's Length
# We use len() method to find the length of a set
# syntax
st = {'item1', 'item2', 'item3', 'item4'}
len(st)

4

In [6]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
len(fruits)

4

# Accessing Items in a Set
We use loops to access items. We will see this in loop section

#Checking an Item
To check if an item exist in a list we use in membership operator.

In [7]:
# syntax
st = {'item1', 'item2', 'item3', 'item4'}
print("Does set st contain item3? ", 'item3' in st) # Does set st contain item3? True

Does set st contain item3?  True

In [8]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
print('mango' in fruits ) # True

True

# Adding Items to a Set
Once a set is created we cannot change any items and we can also add additional items.

Add one item using add()

In [10]:
# Syntax
st = {'item1', 'item2','item3', 'item4'}
st.add('item5')
print(st)

{'item1', 'item2', 'item3', 'item4', 'item5'}

In [12]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
fruits.add('lime')
print(fruits)

{'lime', 'banana', 'lemon', 'mango', 'orange'}

Add multiple items using update() The update() allows to add multiple items to a set. The update() takes a list argument.

In [13]:
# syntax
st = {'item1', 'item2', 'item3', 'item4'}
st.update(['item5','item6','item7'])
print(st)

{'item1', 'item2', 'item3', 'item6', 'item4', 'item7', 'item5'}

In [16]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
vegetables = ('tomato', 'potato', 'cabbage','onion', 'carrot')
fruits.update(vegetables)

# Removing Items from a Set
We can remove an item from a set using remove() method. If the item is not found remove() method will raise errors, so it is good to check if the item exist in the given set. However, discard() method doesn't raise any errors.

In [18]:
# syntax
st = {'item1', 'item2', 'item3', 'item4'}
st.remove('item2')
print(st)

{'item1', 'item4', 'item3'}

The pop() methods remove a random item from a list and it returns the removed item.

Example:

In [19]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
fruits.pop()  # removes a random item from the set
print(fruits)

{'mango', 'banana', 'lemon'}

In [20]:
# If we are interested in the removed item
fruits = {'banana', 'orange', 'mango', 'lemon'}
removed_item = fruits.pop()
print(fruits)

{'mango', 'banana', 'lemon'}

# Clearing Items in a Set
If we want to clear or empty the set we use clear method.

In [22]:
# syntax
st = {'item1', 'item2', 'item3', 'item4'}
st.clear()
print(st)

set()

In [23]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
fruits.clear()
print(fruits) # set()

set()

# Deleting a Set
If we want to delete the set itself we use del operator.

In [25]:
# syntax
st = {'item1', 'item2', 'item3', 'item4'}
del st

In [26]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
del fruits

# Converting List to Set
We can convert list to set and set to list. Converting list to set removes duplicates and only unique items will be reserved.

In [28]:
# syntax
lst = ['item1', 'item2', 'item3', 'item4', 'item1']
st = set(lst)  # {'item2', 'item4', 'item1', 'item3'} - the order is random, because sets in general are unordered
print(lst)

['item1', 'item2', 'item3', 'item4', 'item1']

In [29]:
fruits = ['banana', 'orange', 'mango', 'lemon','orange', 'banana']
fruits = set(fruits) # {'mango', 'lemon', 'banana', 'orange'}
print(fruits)

{'orange', 'mango', 'banana', 'lemon'}

# Joining Sets
We can join two sets using the union() or update() method.

Union This method returns a new set

In [30]:
# syntax
st1 = {'item1', 'item2', 'item3', 'item4'}
st2 = {'item5', 'item6', 'item7', 'item8'}
st3 = st1.union(st2)
print(st3)

{'item1', 'item2', 'item3', 'item6', 'item4', 'item8', 'item7', 'item5'}

In [31]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
vegetables = {'tomato', 'potato', 'cabbage','onion', 'carrot'}
print(fruits.union(vegetables)) # {'lemon', 'carrot', 'tomato', 'banana', 'mango', 'orange', 'cabbage', 'potato', 'onion'}

{'potato', 'banana', 'cabbage', 'lemon', 'tomato', 'onion', 'mango', 'carrot', 'orange'}

In [34]:
# Update This method inserts a set into a given set

# syntax
st1 = {'item1', 'item2', 'item3', 'item4'}
st2 = {'item5', 'item6', 'item7', 'item8'}
st1.update(st2) # st2 contents are added to st1

In [35]:
fruits = {'banana', 'orange', 'mango', 'lemon'}
vegetables = {'tomato', 'potato', 'cabbage','onion', 'carrot'}
fruits.update(vegetables)
print(fruits) # {'lemon', 'carrot', 'tomato', 'banana', 'mango', 'orange', 'cabbage', 'potato', 'onion'}

{'potato', 'banana', 'cabbage', 'lemon', 'tomato', 'onion', 'mango', 'carrot', 'orange'}

# Finding Intersection Items
Intersection returns a set of items which are in both the sets. See the example

In [36]:
# syntax
st1 = {'item1', 'item2', 'item3', 'item4'}
st2 = {'item3', 'item2'}
st1.intersection(st2) # {'item3', 'item2'}

{'item2', 'item3'}

In [37]:
whole_numbers = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
even_numbers = {0, 2, 4, 6, 8, 10}
whole_numbers.intersection(even_numbers) # {0, 2, 4, 6, 8, 10}

python = {'p', 'y', 't', 'h', 'o','n'}
dragon = {'d', 'r', 'a', 'g', 'o','n'}
python.intersection(dragon)     # {'o', 'n'}

{'n', 'o'}

# Checking Subset and Super Set
A set can be a subset or super set of other sets:

Subset: issubset()
Super set: issuperset

In [38]:
# syntax
st1 = {'item1', 'item2', 'item3', 'item4'}
st2 = {'item2', 'item3'}
st2.issubset(st1) # True
st1.issuperset(st2) # True

True

In [39]:
whole_numbers = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
even_numbers = {0, 2, 4, 6, 8, 10}
whole_numbers.issubset(even_numbers) # False, because it is a super set
whole_numbers.issuperset(even_numbers) # True

python = {'p', 'y', 't', 'h', 'o','n'}
dragon = {'d', 'r', 'a', 'g', 'o','n'}
python.issubset(dragon)     # False

False

# Checking the Difference Between Two Sets
It returns the difference between two sets.

In [40]:
# syntax
st1 = {'item1', 'item2', 'item3', 'item4'}
st2 = {'item2', 'item3'}
st2.difference(st1) # set()
st1.difference(st2) # {'item1', 'item4'} => st1\st2

{'item1', 'item4'}

In [41]:
whole_numbers = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
even_numbers = {0, 2, 4, 6, 8, 10}
whole_numbers.difference(even_numbers) # {1, 3, 5, 7, 9}

python = {'p', 'y', 't', 'o','n'}
dragon = {'d', 'r', 'a', 'g', 'o','n'}
python.difference(dragon)     # {'p', 'y', 't'}  - the result is unordered (characteristic of sets)
dragon.difference(python)     # {'d', 'r', 'a', 'g'}

{'a', 'd', 'g', 'r'}

# Finding Symmetric Difference Between Two Sets
It returns the the symmetric difference between two sets. It means that it returns a set that contains all items from both sets, except items that are present in both sets, mathematically: (A\B) ∪ (B\A)

In [42]:
# syntax
st1 = {'item1', 'item2', 'item3', 'item4'}
st2 = {'item2', 'item3'}
# it means (A\B)∪(B\A)
st2.symmetric_difference(st1) # {'item1', 'item4'}

{'item1', 'item4'}

In [43]:
whole_numbers = {0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
some_numbers = {1, 2, 3, 4, 5}
whole_numbers.symmetric_difference(some_numbers) # {0, 6, 7, 8, 9, 10}

python = {'p', 'y', 't', 'h', 'o','n'}
dragon = {'d', 'r', 'a', 'g', 'o','n'}
python.symmetric_difference(dragon)  # {'r', 't', 'p', 'y', 'g', 'a', 'd', 'h'}

{'a', 'd', 'g', 'h', 'p', 'r', 't', 'y'}

# Joining Sets
If two sets do not have a common item or items we call them disjoint sets. We can check if two sets are joint or disjoint using isdisjoint() method.

In [44]:
# syntax
st1 = {'item1', 'item2', 'item3', 'item4'}
st2 = {'item2', 'item3'}
st2.isdisjoint(st1) # False

False

In [46]:
even_numbers = {0, 2, 4, 6, 8}
odd_numbers = {1, 3, 5, 7, 9}
print(even_numbers.isdisjoint(odd_numbers))  # True, because no common item

python = {'p', 'y', 't', 'h', 'o', 'n'}
dragon = {'d', 'r', 'a', 'g', 'o', 'n'}
print(python.isdisjoint(dragon))  # False, there are common items {'o', 'n'}

True
False

# Exercises: Day 7

In [47]:
# sets
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

# Exercises: Level 1

In [49]:
# Find the length of the set it_companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
length = len(it_companies)
print(length)

7

In [51]:
# Add 'Twitter' to it_companies

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.add('Twitter')
print(it_companies)

{'Facebook', 'Twitter', 'Microsoft', 'Apple', 'IBM', 'Google', 'Amazon', 'Oracle'}

In [52]:
# Insert multiple IT companies at once to the set it_companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
new_companies = {'Twitter', 'LinkedIn', 'Adobe'}
it_companies.update(new_companies)
print(it_companies)

{'Facebook', 'Twitter', 'Microsoft', 'Apple', 'IBM', 'Google', 'LinkedIn', 'Adobe', 'Amazon', 'Oracle'}

In [53]:
# Remove one of the companies from the set it_companies

it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle', 'Amazon'}
it_companies.remove('Oracle')
print(it_companies)

{'Facebook', 'Microsoft', 'Apple', 'IBM', 'Google', 'Amazon'}

# What is the difference between remove and discard

The difference between the remove() and discard() methods in Python sets is their behavior when the element to be removed is not found in the set:

remove(element): Removes the specified element from the set. If the element is not found in the set, it raises a KeyError exception.

discard(element): Removes the specified element from the set if it is present. If the element is not found in the set, it does nothing and does not raise any error.

# Exercises: Level 2

In [54]:
# Join A and B
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# Using the union() method
union_set = A.union(B)
print(union_set)  # Output: {19, 20, 22, 24, 25, 26, 27, 28}

# Using the | operator
union_set_operator = A | B
print(union_set_operator)  # Output: {19, 20, 22, 24, 25, 26, 27, 28}

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

In [55]:
# Find A intersection B

A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# Using the intersection() method
intersection_set = A.intersection(B)
print(intersection_set)  # Output: {19, 20, 22, 24, 25, 26}

# Using the & operator
intersection_set_operator = A & B
print(intersection_set_operator)  # Output: {19, 20, 22, 24, 25, 26}

{19, 20, 22, 24, 25, 26}
{19, 20, 22, 24, 25, 26}

In [56]:
# Is A subset of B

A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# Using the issubset() method
is_subset = A.issubset(B)
print(is_subset)  # Output: True

# Using the <= operator
is_subset_operator = A <= B
print(is_subset_operator)  # Output: True

True
True

In [57]:
# Are A and B disjoint sets
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

are_disjoint = A.isdisjoint(B)
print(are_disjoint)  # Output: False

False

In [58]:
# Join A with B and B with A


A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# Joining A with B
union_A_with_B = A.union(B)
print(union_A_with_B)  # Output: {19, 20, 22, 24, 25, 26, 27, 28}

# Joining B with A
union_B_with_A = B.union(A)
print(union_B_with_A)  # Output: {19, 20, 22, 24, 25, 26, 27, 28}

{19, 20, 22, 24, 25, 26, 27, 28}
{19, 20, 22, 24, 25, 26, 27, 28}

In [59]:
# What is the symmetric difference between A and B


A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}

# Using the symmetric_difference() method
sym_diff_method = A.symmetric_difference(B)
print(sym_diff_method)  # Output: {27, 28}

# Using the ^ operator
sym_diff_operator = A ^ B
print(sym_diff_operator)  # Output: {27, 28}

{27, 28}
{27, 28}